html {
  background: radial-gradient(
    circle,
    rgb(175, 166, 107) 0%,
    rgb(75, 68, 33) 100%
  );
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nameRadio {
  text-align: center;
  padding: 10px;
  font-family: sans-serif;
}
#frequency {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 400px;
}

.podcastImage {
  background-image: url("../pages/img/error-404.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.description {
  width: 600px;
  padding-top: 25px;
  text-align: justify;
  font-family: sans-serif;
}
