.buttonContent {
}

.timeRange {
  width: 100%;
  height: 10px;
}

.volume {
  width: 100px;
  transform: rotate(-90deg);
}

.bottonPlay {
  width: 80px;
  height: 80px;
  border-radius: 50%;

  color: white;
  background: #272c26;

  margin: 30px;
  outline: none;
}

.bottonPrevious {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  color: white;
  background: #272c26;
  outline: none;
}

.bottonNext {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  color: white;
  background: #272c26;
  outline: none;
}
