.container {
  display: grid;
  align-items: center;

  height: 40rem;
  width: 50rem;
  padding: 0rem 1rem 0rem 1rem;
  border-style: dotted;

  margin-top: 5px;

  overflow: hidden;
  overflow-y: scroll;
}

.details {
  padding: 0.5rem;
  margin-top: 1rem;

  border-style: groove;
  border-radius: 10px;
}
.details h1 {
  margin-bottom: 4px;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.details p {
  font-size: 20px;
}
